// One collum content layout
.one-col-layout {
    width: 100%;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}



//Two collum content layout
.two-col-layout {
    width: 50%;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

//Three collum content layour

.three-col-layout {
    width: 33%;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}