*, *:before, *:after{
    box-sizing: border-box;
}

*{ 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;

    text-transform: none;
    text-decoration: none;
    text-align: left;
    line-height: 1.6;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

footer, header, nav, section, main{
    display: block;
}

ol, ul{
    list-style: none;
}

blockquote, q{
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after{
    content: '';
    content: none;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

input{
    -webkit-appearance: none;
    border-radius: 0;
}