#about-page{
    background-color: $pale;

    div {

        a {
            display: flex;
            justify-content: center;
            img {
                width: auto;
                height: 30vh;
                padding-bottom: 5%;
            }
    
        }

        
    }
}