#channels-page {
    background-color: $off-white;
    .channels-img {
        text-align: center;

        img {
            width: 50%;
            height: 50%;
            padding-bottom: 5%;
        }
    }
   

    a {
        color: $yellow;
    }
}