#content-page {
    background-color: $pale;

    a {
        text-align: center;
        img {
            width: 100%;
            height: 100%;
            padding-bottom: 5%;
        }
    }
    
}