#contact-page {
    background-color: $off-white;

    flex-flow: column wrap;
    justify-content: center;

    section {
        height: 90%;

    }
    #link-holder {
        display: flex;
        justify-content: space-between;
    }

}