#contact-page {
    background-color: $off-white;

    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    section {
        height: 90%;

        #link-holder {
            display: flex;
            text-align: center;
    
            img {
                width: 40%;
            }
        }

    }


}