.page-section {
    width: 100%;
    height: 100vh;

    scroll-snap-align: start;

    
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: 768px) {
        flex-flow: wrap column;
        scroll-snap-align: end;
    }
}