.hover-nav {
    transition: background-position 275ms ease;
    background: linear-gradient(to right, $cherry-red, $cherry-red 50%, $yellow 50%);
    background-size: 200% 100%;
    background-position: 100%;
}

.hover-nav:hover {
     
    background-position: 0 100%;
    
}